@use 'base' as *;
.shoppingCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    .shoppingConfirm{
        background-color: $green;
        color: $white;
        &:hover{
            background-color: $darkgreen;
        }
    }
}

.cartComponent{
    display: flex;
    padding: 1rem;
    width: 600px;
    background-color: white;
    border-radius: 5px;

    .imgDiv{
        height: 120px;
        width: 120px;

        img{
            object-fit: cover;
            height: 120px;
            width: 120px;
         }
    }

    .itemDescription{
        margin-left: 1rem;
        width: 100%;

        h3{
            color: $white;
            background-color: $darkgrey;
            display: block;
            width: 100%;
            padding: 0.5rem;
            margin-bottom: 0.5rem;
            border-radius: 5px;
        }
    }
    .itemEdit{
        display: flex;
        justify-content: space-between;

        .itemEditAmout{
            display: flex;
        }
        #amount{
            padding: 1rem;
        }
    }
    .amountConfirm{
        background-color: $green;
        color: $white;
        &:hover{
            background-color: $darkgreen;
        }
    }
    .itemRemove {
        background-color: $red;
        color: $white;
        &:hover {
            background-color: $darkred;
        }
    }
    .hide{
        display: none;
    }

    .itemPrice{
        align-self: center;
        text-align: end;
        p{
            margin: 0.5rem;
        }

    }
    
}

.Totaalprijs{
    text-align: center;
    background-color: white;
    padding: 1rem;
    width: 600px;
    border-radius: 5px;
    
    p{
        margin: 0.5rem;
    }

    button{
        margin-top: 1rem;
    }
}

.checkOut{
    padding: 1rem;
    max-width: 600px;
    margin: 0 auto 1rem auto;
    border: 3px solid $grey;
    border-radius: 5px;
    label{
        margin-bottom: 0;
        padding: 0;
    }
    input{
        margin-top: 0;
        border: 1px solid $grey;
    }
    .radioLabel{
        text-align: center;
        margin-bottom: 1rem;
    }
}
.checkBoxDiv{
    text-align: center;
    label, input{
       margin: 1rem;
    }
}
.shoppingConfirm{
    display: flex;
    text-align: center;
    margin: 0 auto;
    background-color: $green;
    color: white;
    &:hover{
        background-color: $darkgreen;
    }
}

.checkout{
    width: 100%;
    display: block;
    text-align: end;
}
.activeCart{
    text-align: right;
    background-color: $green;
    color: white;
    padding: 0.5rem;
    margin: 1rem;
    display: inline-block;
    border-radius: 10px;

    &:hover{
        cursor: pointer;
        background-color: $darkgreen;
    }
}