    {% set mainNavigatie = craft.navigate.raw('mainNavigatie') %}

<nav>
    <p><a href="index.html" class="selected">Shneaky Shop</a></p>
    <ul>
        {% for node in mainNavigatie %}
        <li>
            <a href="{{ node.url }}">{{ node.name }}</a>
        </li>
        {% endfor %}
    </ul>
</nav> 
    {# <nav>
        <p><a href="index.html" class="selected">Shneaky Shop</a></p>
    <ul>
        <li><a href="{{ productOverzicht.url }}">Products</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="contact.twig">Contact</a></li>
        <li><a href="#">Cart (0)</a></li>
    </ul>
    </nav> #}